<h3 class="header2">All Jobs for <strong><%= @category.title %></strong></h3>

<table class="tableSection tableContact">
  <caption class="newCompany"><%= link_to "Categories", categories_path %>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Level of Interest</th>
  </tr>
  <% @category.jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, company_job_path(job.company, job) %></td>
    <td><%= job.description %></td>
    <td><%= job.level_of_interest %></td>
  </tr>
  <% end %>
</table>
