<div class="container-fluid collapse-form img-form">
  <%= form_for @image_new do |f| %>
    <%= f.text_field :title, placeholder: "Title"%><br/><br/>
    <%= f.text_field :description, placeholder: "Description"%><br/><br/>
    <ul class="form-list" align="left">
      <li><%= f.file_field :image %></li></br></br>
      <li class="submit"><%= submit_tag "Create Image" %></li>
    </ul>
  <% end %>
<div>
